<div class="container">
  {% include 'breadcrumb' %} 
  <div class="row">
    <div id="content" class="col-sm-12">
      <h1>{{ page.title }}</h1>
      <div class="rte">
        {{ shop.terms_of_service }}
        {{ page.content }}
      </div>
    </div>
  </div>
</div>